@use "foundation/_reset";
@use "foundation/_base";

$header-sp-animation-duration: 0.7s;

.headerSp {
  display: none;
}

// スマホ&タブレット共通
@media screen and (width <=1140px) {
  .headerSp {
    display: block;
  }

  .headerSpTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 500;
    width: 100%;
    height: 60px;
    padding: 0 16px;
    box-shadow: 0 0 8px 0 #0003;
    background-color: #fff;
    transition: $header-sp-animation-duration;

    .headerSpTop__logo {
      height: 35.38px;
    }

    &.--hidden {
      transform: translateY(-100%);
      transition: $header-sp-animation-duration;
    }
  }

  .headerSpTopList {
    display: flex;
    gap: 16px;
    height: 17px;
  }

  .headerSpTopListItem {
    .headerSpTopListItem__link {
      color: #333;
      font-size: 12px;
      font-weight: 500;
    }
  }

  .headerSp__bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 64px;
    box-shadow: 0 -1px 5px rgb(0 0 0 / 0.2);
    background-color: #fff;
    transition: $header-sp-animation-duration;

    &.--hidden {
      transform: translateY(100%);
      transition: $header-sp-animation-duration;
    }
  }

  .headerSpBottomList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100%;
    .headerSpBottomList__item {
      &:not(:first-child, :last-child) {
        border-left: solid #ccc 1px;
      }

      &.--bgGreen {
        background-color: #1b8751;
      }
    }
  }

  .headerSpBottomLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .headerSpBottomLink__icon {
      width: 32px;
      height: 32px;
      margin: 0 auto;
    }

    .headerSpBottomLink__text {
      margin: 0 auto;
      color: #333;
      font-size: 10px;
      font-weight: 700;
      &.--white {
        color: #fff;
      }
    }

    &.--pointer {
      cursor: pointer;
    }
  }

  .spMenu {
    &.--hidden {
      .spMenuOverlay {
        display: none;
        opacity: 0;
      }

      .spMenuForeground {
        animation: SlideOut $header-sp-animation-duration forwards;
      }
    }
  }

  @keyframes SlideOut {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100px);
      display: none;
      opacity: 0;
    }
  }
  @keyframes SlideIn {
    0% {
      transform: translateY(100px);
      display: none;
      opacity: 0;
    }
    100% {
      transform: translateY(0);
    }
  }

  .spMenuOverlay {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #25865199;
  }

  .spMenuForeground {
    animation: SlideIn $header-sp-animation-duration forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    transition: $header-sp-animation-duration;
  }

  .spMenuWindow {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 142px);
    height: calc(100vh - 124px);
    margin-top: 40px;
    padding: 20px 16px 32px;
    border-radius: 12px;
    background-color: #fff;
  }

  .spMenuWindowCompany {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;

    .spMenuWindowCompany__logo {
      display: block;
      width: 100px;
      height: 35.38px;
    }

    .spMenuWindowCompany__text {
      display: block;
      margin-left: 16px;
      color: #333;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .spMenuCloseButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    margin: auto;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    cursor: pointer;

    .spMenuCloseButton__icon {
      width: 32px;
      height: 32px;
    }
    .spMenuCloseButton__text {
      display: block;
      font-size: 10px;
      font-weight: 700;
    }
  }
}

// スマホ版
@media screen and (width <= 768px) {
  .spMenuWindow {
    width: calc(100vw - 62px);
    height: calc(100vh - 124px);
    margin-top: 32px;
    .spMenuWindow__top {
      .spMenuWindow__top__text {
        font-size: 12px;
      }
    }
  }
}
