@mixin headerPc__navText($color, $fontSize, $fontHeight, $weight: 700) {
  color: $color;
  font-size: $fontSize;
  font-family: "IBM Plex Sans JP";
  font-weight: $weight;
  line-height: $fontHeight;
  text-decoration: none;
}

.headerPc {
  display: flex;
  align-items: center;
  height: 110px;
  box-shadow: 0 0 8px 0 #0003;
  text-wrap: nowrap;
  .headerPc__Wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 36px;
  }
  .headerPc__logo {
    display: flex;
    align-items: center;
    height: 69.54px;
    gap: 12px;
    .headerPc__logoImg {
      width: 140px;
      height: 49.54px;
    }
    .headerPc__logoText {
      @include headerPc__navText(#333, 12px, 12px, 500);
    }
  }
  .headerPc__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 516px;
    height: 72px;
    .headerPc__navTop {
      &List {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        align-items: center;
        list-style: none;
      }
      &Left {
        display: flex;
        justify-content: space-between;
        gap: 28px;
        &Button {
          @include headerPc__navText(#1b8751, 13px, 13px);

          padding: 7px 16px;
          border: #258651 1px solid;
          border-radius: 22px;
          box-sizing: border-box;
          transition: all 0.3s ease-in-out;
          &:hover {
            background-color: #258651;
            color: #fff;
          }
        }
      }
      &Right {
        &Button {
          @include headerPc__navText(#fff, 14px, 14px);

          display: inline-flex;
          align-items: center;
          position: relative;
          height: 32px;
          padding: 0 28px;
          border: #258651 1px solid;
          border-radius: 22px;
          background-color: #258651;
          transition: all 0.3s ease-in-out;
          &::after {
            position: absolute;
            top: 12px;
            right: 15px;
            width: 5px;
            height: 5px;
            border-top: solid 2px #fff;
            border-right: solid 2px #fff;
            transform: rotate(45deg);
            transition: all 0.3s ease-in-out;
            content: "";
          }
          &:hover {
            @include headerPc__navText(#258651, 14px, 14px);

            background-color: #fff;
            &::after {
              border-color: #258651;
            }
          }
        }
      }
    }
    &Bottom {
      &List {
        display: flex;
        justify-content: space-between;
        list-style: none;
        gap: 44px;
      }
      &ListItem {
        @include headerPc__navText(#333, 17px, 23.8px);

        transition: all 0.3s ease-in-out;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}

@media screen and (width <= 1140px) {
  .headerPc {
    display: none;
  }
}
