@use "foundation/_reset";
@use "foundation/_base";

$headerSpAnimationDuration: 0.7s;

.headerSp {
  display: none;
}

// スマホ&タブレット共通
@media screen and (width <=1140px) {
  .headerSp {
    display: block;
  }

  .headerSpTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 500;
    width: 100%;
    height: 60px;
    padding: 0 16px;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px #00000033;

    transition: $headerSpAnimationDuration;

    .headerSpTop__logo {
      height: 35.38px;
    }

    &.--hidden {
      transform: translateY(-100%);
      transition: $headerSpAnimationDuration;
    }
  }

  .headerSpTopList {
    display: flex;
    gap: 16px;
    height: 17px;
    .headerSpTopList__item {
      .headerSpTopList__item__link {
        color: #333;
        font-size: 12px;
        font-family: "IBM Plex Sans JP";
        font-weight: 500;
      }
    }
  }

  .headerSp__bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 64px;
    box-shadow: 0 -1px 5px rgb(0 0 0 / 0.2);
    background-color: #fff;
    transition: $headerSpAnimationDuration;

    &.--hidden {
      transform: translateY(100%);
      transition: $headerSpAnimationDuration;
    }
  }

  .headerSpBottomList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100%;
    .headerSpBottomList__item {
      &:not(:first-child, :last-child) {
        border-left: solid #ccc 1px;
      }

      &.--bgGreen {
        background-color: #1b8751;
      }
    }
  }

  .headerSpBottomLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .headerSpBottomLink__icon {
      width: 32px;
      height: 32px;
      margin: 0 auto;
    }

    .headerSpBottomLink__text {
      margin: 0 auto;
      color: #333;
      font-size: 10px;
      font-weight: 700;
      &.--white {
        color: #fff;
      }
    }

    &.--pointer {
      cursor: pointer;
    }
  }

  .spMenu {
    &.--hidden {
      .spMenuOverlay {
        visibility: hidden;
        opacity: 0;
      }

      .spMenuForeground {
        visibility: hidden;
        transform: translateY(100px);
        transition: $headerSpAnimationDuration;
        opacity: 0;
      }
    }
  }

  .spMenuOverlay {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #25865199;
  }

  .spMenuForeground {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    transition: $headerSpAnimationDuration;
  }

  .spMenuWindow {
    display: flex;
    flex-direction: column;
    width: 90vw;
    width: calc(100% - 140px);
    height: 80vh;
    margin-top: 5vh;
    padding: 20px 16px 32px;
    border-radius: 12px;
    background-color: #fff;
  }

  .spMenuWindowCompany {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;

    .spMenuWindowCompany__logo {
      display: block;
      width: 100px;
      height: 35.38px;
    }

    .spMenuWindowCompany__text {
      display: block;
      margin-left: 16px;
      color: #333;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .spMenuCloseButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    margin: auto;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    cursor: pointer;

    .spMenuCloseButton__icon {
      width: 32px;
      height: 32px;
    }
    .spMenuCloseButton__text {
      display: block;
      font-size: 10px;
      font-weight: 700;
    }
  }
}

@keyframes slideIn-Up {
  0% {
    transform: translateY(60px);
  }

  100% {
    transform: translateY(0);
  }
}

// スマホ版
@media screen and (width <= 768px) {
  .spMenuWindow {
    width: calc(100% - 60px);

    .spMenuWindow__top {
      .spMenuWindow__top__text {
        font-size: 12px;
      }
    }
  }
}
