.footerTop {
  padding: 52px 0;
  background-color: #faf8f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerTopContainer {
  width: 1040px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footerTopMain {
  width: 100%;
  gap: 40px;
  display: flex;
  justify-content: space-between;
}

.footerTopContents {
  gap: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.footerTopContents.-otherLinks {
  gap: 32px;
}

.footerTopTitle .footerTopTitle__link {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 25.2px;
  color: #1b8751;
}

.footerTopTitleLabel {
  display: none;
}

.footerTopList {
  gap: 16px;
  padding: 0 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footerTopList .footerTopList__link {
  font-size: 1.6rem;
  line-height: 22.4px;
}

.footerTopOthers {
  gap: 58px;
  display: flex;
  justify-content: space-between;
}
.footerTopOthers .footerTopOthers__text {
  font-size: 1.4rem;
  line-height: 21px;
}

.footerBottom {
  width: 100%;
  padding: 24px 0;
  display: flex;
  justify-content: center;
}

.footerBottomContainer {
  width: 1040px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footerBottomContainer .footerBottom__text {
  font-size: 1.2rem;
  line-height: 15px;
}

@media screen and (max-width: 1140px) {
  .footerTop {
    padding: 52px 32px;
  }
  .footerTopContainer {
    width: 100%;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footerTopMain {
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footerTopContents {
    width: 100%;
    gap: 8px;
    display: flex;
    flex-direction: column;
  }
  .footerTopContents.-otherLinks {
    gap: 8px;
  }
  .footerTopTitle {
    border-bottom: 1px solid #ccc;
    padding: 12px 0 13px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footerTopTitle .footerTopTitle__link {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 22.4px;
    color: #1b8751;
  }
  .footerTopTitleLabel {
    width: 14px;
    height: 14px;
    position: relative;
    display: block;
  }
  .footerTopTitleLabel::before, .footerTopTitleLabel::after {
    width: 100%;
    height: 2px;
    position: absolute;
    content: "";
    background-color: #1b8751;
    top: 50%;
    transform: rotate(0deg);
    transition: 0.5s;
  }
  .footerTopTitleLabel::after {
    transform: rotate(-90deg);
  }
  .footerTopTitleLabel.-open::after {
    transform: rotate(0);
    transition: 0.5s;
  }
  .footerTopList {
    display: none;
    gap: 0px;
    width: 100%;
  }
  .footerTopList .footerTopList__item {
    width: 100%;
    padding: 12px 16px;
    gap: 10px;
  }
  .footerTopList .footerTopList__link {
    font-size: 1.4rem;
    line-height: 19.6px;
  }
  .footerTopList.-open {
    display: block;
  }
  .footerTopOthers {
    width: 100%;
    gap: 16px;
    display: flex;
    flex-direction: column;
  }
  .footerTopOthers .footerTopOthers__text {
    font-size: 1.2rem;
    line-height: 18px;
  }
  .footerBottom {
    width: 100%;
    padding: 24px 32px;
    display: flex;
    justify-content: center;
  }
  .footerBottomContainer {
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footerBottomContainer .footerBottom__text {
    font-size: 1rem;
    line-height: 15px;
  }
}