* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  box-sizing: normal;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

pre {
  white-space: pre-wrap;
}

hr {
  overflow: visible;
  height: 0;
  border-width: 1px 0 0;
  border-style: solid;
  color: inherit;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

canvas,
img,
svg,
video {
  height: auto;
}

audio {
  width: 100%;
}

img {
  border-style: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

svg {
  overflow: hidden;
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

[type=checkbox],
[type=radio] {
  padding: 0;
  box-sizing: border-box;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  color: inherit;
  font-style: inherit;
  text-align: inherit;
  vertical-align: middle;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

* {
  color: #333;
  font-size: 62.5%;
  font-family: "IBM Plex Sans JP", sans-serif;
}

.headerSp {
  display: none;
}

@media screen and (width <= 1140px) {
  .headerSp {
    display: block;
  }
  .headerSpTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 500;
    width: 100%;
    height: 60px;
    padding: 0 16px;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    transition: 0.7s;
  }
  .headerSpTop .headerSpTop__logo {
    height: 35.38px;
  }
  .headerSpTop.--hidden {
    transform: translateY(-100%);
    transition: 0.7s;
  }
  .headerSpTopList {
    display: flex;
    gap: 16px;
    height: 17px;
  }
  .headerSpTopList .headerSpTopList__item .headerSpTopList__item__link {
    color: #333;
    font-size: 12px;
    font-family: "IBM Plex Sans JP";
    font-weight: 500;
  }
  .headerSp__bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 64px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: 0.7s;
  }
  .headerSp__bottom.--hidden {
    transform: translateY(100%);
    transition: 0.7s;
  }
  .headerSpBottomList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100%;
  }
  .headerSpBottomList .headerSpBottomList__item:not(:first-child, :last-child) {
    border-left: solid #ccc 1px;
  }
  .headerSpBottomList .headerSpBottomList__item.--bgGreen {
    background-color: #1b8751;
  }
  .headerSpBottomLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .headerSpBottomLink .headerSpBottomLink__icon {
    width: 32px;
    height: 32px;
    margin: 0 auto;
  }
  .headerSpBottomLink .headerSpBottomLink__text {
    margin: 0 auto;
    color: #333;
    font-size: 10px;
    font-weight: 700;
  }
  .headerSpBottomLink .headerSpBottomLink__text.--white {
    color: #fff;
  }
  .headerSpBottomLink.--cursor {
    cursor: pointer;
  }
  .spMenu.--hidden .spMenuOverlay {
    visibility: hidden;
    opacity: 0;
  }
  .spMenu.--hidden .spMenuForeground {
    visibility: hidden;
    transform: translateY(100px);
    transition: 0.7s;
    opacity: 0;
  }
  .spMenuOverlay {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(37, 134, 81, 0.6);
  }
  .spMenuForeground {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    transition: 0.7s;
  }
  .spMenuWindow {
    display: flex;
    flex-direction: column;
    width: 90vw;
    width: calc(100% - 140px);
    height: 80vh;
    margin-top: 5vh;
    padding: 20px 16px 32px;
    border-radius: 12px;
    background-color: #fff;
  }
  .spMenuWindowCompany {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
  }
  .spMenuWindowCompany .spMenuWindowCompany__logo {
    display: block;
    width: 100px;
    height: 35.38px;
  }
  .spMenuWindowCompany .spMenuWindowCompany__text {
    display: block;
    margin-left: 16px;
    color: #333;
    font-size: 14px;
    font-weight: 500;
  }
  .spMenuWindowListWrapper {
    overflow-y: scroll;
    height: 100%;
    margin-top: 16px;
  }
  .spMenuWindowListWrapper::-webkit-scrollbar {
    display: none;
  }
  .spMenuCloseButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    margin: auto;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
  }
  .spMenuCloseButton .spMenuCloseButton__icon {
    width: 32px;
    height: 32px;
  }
  .spMenuCloseButton .spMenuCloseButton__text {
    display: block;
    font-size: 10px;
    font-weight: 700;
  }
}
@-webkit-keyframes slideIn-Up {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideIn-Up {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (width <= 768px) {
  .spMenuWindow {
    width: calc(100% - 60px);
  }
  .spMenuWindow .spMenuWindow__top .spMenuWindow__top__text {
    font-size: 12px;
  }
}