html {
  font-size: 62.5%;
}

.headerPc {
  display: flex;
  align-items: center;
  height: 110px;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 0.2);
  text-wrap: nowrap;
}
.headerPc .headerPc__Wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 36px;
}
.headerPc .headerPc__logo {
  display: flex;
  align-items: center;
  height: 69.54px;
  gap: 12px;
}
.headerPc .headerPc__logo .headerPc__logoImage {
  width: 140px;
}
.headerPc .headerPc__logo .headerPc__logoText {
  color: #333;
  font-size: 1.4rem;
  font-family: "IBM Plex Sans JP", sans-serif;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
}
.headerPc .headerPc__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 516px;
  height: 72px;
}
.headerPc .headerPc__nav .headerPc__navTop .headerPc__navTopList {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  list-style: none;
}
.headerPc .headerPc__nav .headerPc__navTop .headerPc__navTopLeft {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}
.headerPc .headerPc__nav .headerPc__navTop .headerPc__navTopLeft .headerPc__navTopLeftButton {
  padding: 7px 16px;
  border: #258651 1px solid;
  border-radius: 22px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  color: #1b8751;
  font-size: 1.3rem;
  font-family: "IBM Plex Sans JP", sans-serif;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
}
.headerPc .headerPc__nav .headerPc__navTop .headerPc__navTopLeft .headerPc__navTopLeftButton:hover {
  background-color: #258651;
  color: #fff;
}
.headerPc .headerPc__nav .headerPc__navTop .headerPc__navTopRight .headerPc__navTopRightButton {
  display: inline-flex;
  align-items: center;
  position: relative;
  height: 32px;
  padding: 0 28px;
  border: #258651 1px solid;
  border-radius: 22px;
  background-color: #258651;
  transition: all 0.3s ease-in-out;
  color: #fff;
  font-size: 1.4rem;
  font-family: "IBM Plex Sans JP", sans-serif;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
}
.headerPc .headerPc__nav .headerPc__navTop .headerPc__navTopRight .headerPc__navTopRightButton::after {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 5px;
  height: 5px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
  content: "";
}
.headerPc .headerPc__nav .headerPc__navTop .headerPc__navTopRight .headerPc__navTopRightButton:hover {
  background-color: #fff;
  color: #258651;
  font-size: 1.4rem;
  font-family: "IBM Plex Sans JP", sans-serif;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
}
.headerPc .headerPc__nav .headerPc__navTop .headerPc__navTopRight .headerPc__navTopRightButton:hover::after {
  border-color: #258651;
}
.headerPc .headerPc__nav .headerPc__navBottomList {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 44px;
}
.headerPc .headerPc__nav .headerPc__navBottomListItem {
  transition: all 0.3s ease-in-out;
  color: #333;
  font-size: 18px;
  font-family: "IBM Plex Sans JP", sans-serif;
  font-weight: 700;
  line-height: 25.2px;
  text-decoration: none;
}
.headerPc .headerPc__nav .headerPc__navBottomListItem:hover {
  opacity: 0.6;
}